<h1>Event Information:</h1>
<p>Event Title: {{event.title}}</p>
<p>Event Owner: {{event.owner_name}}</p>
<p>Event Description: {{event.descrption}}</p>
<p>Event Date: {{event.event_time}}</p>
<p>Event Place: {{event.place}}</p>

<p>Invited guests:
{% for relation in relations %}
    {{relation.guest_name}}&nbsp;
{% endfor %}
</p>

{% if event.isFinal %}
<p>This is event is finalized!</p>
{% endif %}

<h2>here are others's response</h2>
{% if answers %}
    <ul>
    {% for answer in answers %}
        <li>
            <p>guest name: {{answer.answer_name}}</p>
            <p>comment: {{answer.comment}}</p>
            {% if event.venderPermitted %}
                {% if answer.plusOne %}
                    <p>This guest will bring others</p>
                {% endif %}
                {% if answer.willCome %}
                    <p>This guest will attend</p>
                {% endif %}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No answer is available.</p>
{% endif %}

{% if event.isFinal %}
<p>This event is finalized</p>
{% else %}
    <h2>Do you want to finalize this event?</h2>
    <form method = 'post' enctype="multipart/form-data">
        {% csrf_token %}
    {{ff.as_p}}
    <input type="submit" value = "ok" />
    </form>
{% endif %}