{% extends 'rsvp/base.html' %}
{% block title %}Userpage{% endblock %}
{% block body %}
<center>
<h1>Response made: </h1>
<p>Event Title: {{answer.event_title}}</p>
<p>Comment: {{answer.comment}}</p>
{% if answer.willCome%}
    <p>I will come</p>
    {% if  answer.plusOne %}
        <p>I will bring more people with me</p>
        <p>In total, I will bring {{answer.count}} people with me(Including myself).</p>
    {% else  %}
        <p>I will come alone</p>
    {% endif %}
{% else %}
<p>I will not come</p>
{% endif %}
{% if answer.isEditable %}
<a href="{% url 'rsvp:answer_edit' answer.id %}">Edit?</a>
{% else %}
<p><strong>This answer is not editable</strong></p>
{% endif %}
</center>
{% endblock %}