{% extends 'rsvp/base.html' %}
{% block title %}Event{% endblock %}
{% block body %}
<center>
<h1>Event Information:</h1>
<p>Event Title: {{event.title}}</p>
<p>Event Owner: {{event.owner_name}}</p>
<p>Event Descrption: {{event.descrption}}</p>
<p>Event Date: {{event.event_time}}</p>
<p>Event Place: {{event.place}}</p>

<p>Invited guests:
{% for relation in relations %}
    {{relation.guest_name}}&nbsp;
{% endfor %}
</p>

{% if event.isFinal %}
    <p><strong>This is event is finalized!</strong></p>
{% else %}
<a href="{% url 'rsvp:event_edit' event.id %}">Edit?</a>
{% endif %}

<h2>here are others's response</h2>
{% if answers %}
    <ul>
    {% for answer in answers %}
        <li>
            <p><strong>guest name: {{answer.answer_name}}</strong></p>
            {% if answer.willCome %}
                <p>This guest will attend</p>
            {% endif %}
            {% if answer.plusOne %}
                <p>This guest will bring others</p>
            {% endif %}

            <p>comment: {{answer.comment}}</p>
        </li>
        <br>
    {% endfor %}
    </ul>
{% else %}
    <p>No answer is available.</p>
{% endif %}
</center>
{% endblock %}